
<footer class="footer border-top py-2 text-muted bg-light fixed-bottom" dir="ltr">

	<div class="container text-muted">

		<environment include="Development" exclude="Production">
			Development Mode
		</environment>

		<small>
			<a href="https://deniztec.com" class="text-decoration-none">
				[Developed by A.B]
			</a>
		</small>

		&copy;2024 - Aram Behboudpour

	</div>

</footer>
