@page
@using Server.Infrastructure
@model Server.Pages.Features.Processes.CreateModel
@{
	var pageTitle =
		$"{oc.TSB.Resources.DataDictionary.CreateOf} {oc.TSB.Resources.DataDictionary.Process}";

	ViewData[oc.TSB.Core.Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>

			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<partial name="PartialViews/_DisplayToastMessages" />

			<faraz-full-checkbox asp-for="ViewModel.IsActive" />

			<faraz-full-input asp-for="ViewModel.Title" />

			<faraz-full-input asp-for="ViewModel.Name" />

			<faraz-full-input asp-for="ViewModel.Version" />

			<faraz-full-input asp-for="ViewModel.Ordering" />

		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
		</section-form-footer>
	</section-form>

</form>
