@page

@model Pages.Errors.Error500Model

@{
	var pageTitle = "خطای 500";
	// $"{oc.TSB.Resources.DataDictionary.Error500} ;

	ViewData[oc.TSB.Core.Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<h3 class="text-center mt-3">
	@(pageTitle)
</h3>

<hr />
