<li class="nav-item dropdown">

	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		@(oc.TSB.Resources.DataDictionary.CamundaProssesSettings)
	</a>

	<ul class="dropdown-menu mt-0">
		<li>
			<a class="dropdown-item" href="/CreateTestDataCamunda">
				ایجاد اطلاعات تستی
			</a>
		</li>
		<li><hr class="dropdown-divider" style="border-color:silver;" /></li>
		<li>
			<a class="dropdown-item" href="/Features/Processes/Index">
				@(oc.TSB.Resources.DataDictionary.Processes)
			</a>
		</li>
		<li><hr class="dropdown-divider" style="border-color:silver;" /></li>
		<li>
			<a class="dropdown-item" href="/Features/UserTasks/Index">
				@(oc.TSB.Resources.DataDictionary.UserTasks)
			</a>
		</li>
		<li><hr class="dropdown-divider" style="border-color:silver;" /></li>
		<li>
			<a class="dropdown-item" href="/Features/Components/Index">
				@(oc.TSB.Resources.DataDictionary.Components)
			</a>
		</li>
	</ul>
</li>
