@page
@model Server.Pages.IndexModel
@{
    var pageTitle = "لیست فرایندها";
    // $"{oc.TSB.Resources.DataDictionary.ListOf} {oc.TSB.Resources.DataDictionary.Products}";

    ViewData[oc.TSB.Core.Constants.ViewDataKeyName.PageTitle] = pageTitle;

    Layout =
     "Layouts/_Default";
}
</br>

<h3 dir="rtl">
	به صفحه ویجت ساز کموندا خوش آمدید!
</h3>
